<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847073606816-0l0rapub1qtnna7jrklrk2j2r1gdeucs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847073606816-0l0rapub1qtnna7jrklrk2j2r1gdeucs</string>
	<key>API_KEY</key>
	<string>AIzaSyB1DlNgUBmYzTIKI3Ko085fhm-sNYW3F_c</string>
	<key>GCM_SENDER_ID</key>
	<string>847073606816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flap14</string>
	<key>PROJECT_ID</key>
	<string>flappyfire-e4251</string>
	<key>STORAGE_BUCKET</key>
	<string>flappyfire-e4251.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847073606816:ios:5b28c536329f775b03ddc5</string>
</dict>
</plist>